.greet screen {
  height: 2000px;
background-color: black;
}

h1 {
  font: futura;
  color: #7300fa;
  font-weight: 500px
  position: absolute;
  top: 500px;
  left: 2000px;
}

.info front page {
  background-color: white;
}

h2 {
  font: futura;
  color: #cec1f9;
}

.home text {
  font: futura;
  color: white;
  background-color: #cec1f9;
}
  
  
